/* Kuat Button – color × variant × state. Tokens reference kuat-core base colors. */
@layer base {
  :root {
    /* --- ee-blue --- */
    --kuat-button-ee-blue-primary-background: var(--brand-ee-blue);
    --kuat-button-ee-blue-primary-background--hover: var(--ee-blue-600);
    --kuat-button-ee-blue-primary-background--active: var(--ee-blue-700);
    --kuat-button-ee-blue-primary-background--focus: var(--brand-ee-blue);
    --kuat-button-ee-blue-primary-background--disabled: var(--slate-200);
    --kuat-button-ee-blue-primary-foreground: var(--brand-byte-white);
    --kuat-button-ee-blue-primary-foreground--disabled: var(--slate-500);
    --kuat-button-ee-blue-secondary-background: var(--ee-blue-100);
    --kuat-button-ee-blue-secondary-background--hover: var(--ee-blue-200);
    --kuat-button-ee-blue-secondary-background--active: var(--ee-blue-300);
    --kuat-button-ee-blue-secondary-background--focus: var(--ee-blue-100);
    --kuat-button-ee-blue-secondary-background--disabled: var(--slate-100);
    --kuat-button-ee-blue-secondary-foreground: var(--brand-ee-blue);
    --kuat-button-ee-blue-secondary-foreground--disabled: var(--slate-500);
    --kuat-button-ee-blue-outline-background: transparent;
    --kuat-button-ee-blue-outline-background--hover: var(--ee-blue-50);
    --kuat-button-ee-blue-outline-background--active: var(--ee-blue-100);
    --kuat-button-ee-blue-outline-background--focus: transparent;
    --kuat-button-ee-blue-outline-background--disabled: transparent;
    --kuat-button-ee-blue-outline-foreground: var(--brand-ee-blue);
    --kuat-button-ee-blue-outline-foreground--disabled: var(--slate-500);
    --kuat-button-ee-blue-outline-border: var(--brand-ee-blue);
    --kuat-button-ee-blue-outline-border--hover: var(--ee-blue-600);
    --kuat-button-ee-blue-outline-border--focus: var(--brand-ee-blue);
    --kuat-button-ee-blue-outline-border--disabled: var(--slate-300);
    --kuat-button-ee-blue-ghost-background: transparent;
    --kuat-button-ee-blue-ghost-background--hover: var(--ee-blue-50);
    --kuat-button-ee-blue-ghost-background--active: var(--ee-blue-100);
    --kuat-button-ee-blue-ghost-background--focus: transparent;
    --kuat-button-ee-blue-ghost-background--disabled: transparent;
    --kuat-button-ee-blue-ghost-foreground: var(--brand-ee-blue);
    --kuat-button-ee-blue-ghost-foreground--disabled: var(--slate-500);
    --kuat-button-ee-blue-ghost-muted-background: transparent;
    --kuat-button-ee-blue-ghost-muted-background--hover: var(--slate-100);
    --kuat-button-ee-blue-ghost-muted-background--active: var(--slate-200);
    --kuat-button-ee-blue-ghost-muted-background--focus: transparent;
    --kuat-button-ee-blue-ghost-muted-background--disabled: transparent;
    --kuat-button-ee-blue-ghost-muted-foreground: var(--slate-700);
    --kuat-button-ee-blue-ghost-muted-foreground--disabled: var(--slate-500);
    --kuat-button-ee-blue-destructive-background: var(--red-600);
    --kuat-button-ee-blue-destructive-background--hover: var(--red-600);
    --kuat-button-ee-blue-destructive-background--active: var(--red-600);
    --kuat-button-ee-blue-destructive-background--focus: var(--red-600);
    --kuat-button-ee-blue-destructive-background--disabled: var(--slate-200);
    --kuat-button-ee-blue-destructive-foreground: var(--brand-byte-white);
    --kuat-button-ee-blue-destructive-foreground--disabled: var(--slate-500);

    /* --- tech-blue --- */
    --kuat-button-tech-blue-primary-background: var(--brand-tech-blue);
    --kuat-button-tech-blue-primary-background--hover: var(--tech-blue-600);
    --kuat-button-tech-blue-primary-background--active: var(--tech-blue-700);
    --kuat-button-tech-blue-primary-background--focus: var(--brand-tech-blue);
    --kuat-button-tech-blue-primary-background--disabled: var(--slate-200);
    --kuat-button-tech-blue-primary-foreground: var(--brand-byte-white);
    --kuat-button-tech-blue-primary-foreground--disabled: var(--slate-500);
    --kuat-button-tech-blue-secondary-background: var(--tech-blue-100);
    --kuat-button-tech-blue-secondary-background--hover: var(--tech-blue-200);
    --kuat-button-tech-blue-secondary-background--active: var(--tech-blue-300);
    --kuat-button-tech-blue-secondary-background--focus: var(--tech-blue-100);
    --kuat-button-tech-blue-secondary-background--disabled: var(--slate-100);
    --kuat-button-tech-blue-secondary-foreground: var(--brand-tech-blue);
    --kuat-button-tech-blue-secondary-foreground--disabled: var(--slate-500);
    --kuat-button-tech-blue-outline-background: transparent;
    --kuat-button-tech-blue-outline-background--hover: var(--tech-blue-50);
    --kuat-button-tech-blue-outline-background--active: var(--tech-blue-100);
    --kuat-button-tech-blue-outline-background--focus: transparent;
    --kuat-button-tech-blue-outline-background--disabled: transparent;
    --kuat-button-tech-blue-outline-foreground: var(--brand-tech-blue);
    --kuat-button-tech-blue-outline-foreground--disabled: var(--slate-500);
    --kuat-button-tech-blue-outline-border: var(--brand-tech-blue);
    --kuat-button-tech-blue-outline-border--hover: var(--tech-blue-600);
    --kuat-button-tech-blue-outline-border--focus: var(--brand-tech-blue);
    --kuat-button-tech-blue-outline-border--disabled: var(--slate-300);
    --kuat-button-tech-blue-ghost-background: transparent;
    --kuat-button-tech-blue-ghost-background--hover: var(--tech-blue-50);
    --kuat-button-tech-blue-ghost-background--active: var(--tech-blue-100);
    --kuat-button-tech-blue-ghost-background--focus: transparent;
    --kuat-button-tech-blue-ghost-background--disabled: transparent;
    --kuat-button-tech-blue-ghost-foreground: var(--brand-tech-blue);
    --kuat-button-tech-blue-ghost-foreground--disabled: var(--slate-500);
    --kuat-button-tech-blue-ghost-muted-background: transparent;
    --kuat-button-tech-blue-ghost-muted-background--hover: var(--slate-100);
    --kuat-button-tech-blue-ghost-muted-background--active: var(--slate-200);
    --kuat-button-tech-blue-ghost-muted-background--focus: transparent;
    --kuat-button-tech-blue-ghost-muted-background--disabled: transparent;
    --kuat-button-tech-blue-ghost-muted-foreground: var(--slate-700);
    --kuat-button-tech-blue-ghost-muted-foreground--disabled: var(--slate-500);
    --kuat-button-tech-blue-destructive-background: var(--red-600);
    --kuat-button-tech-blue-destructive-background--hover: var(--red-600);
    --kuat-button-tech-blue-destructive-background--active: var(--red-600);
    --kuat-button-tech-blue-destructive-background--focus: var(--red-600);
    --kuat-button-tech-blue-destructive-background--disabled: var(--slate-200);
    --kuat-button-tech-blue-destructive-foreground: var(--brand-byte-white);
    --kuat-button-tech-blue-destructive-foreground--disabled: var(--slate-500);

    /* --- byte-white --- */
    --kuat-button-byte-white-primary-background: var(--brand-byte-white);
    --kuat-button-byte-white-primary-background--hover: var(--slate-100);
    --kuat-button-byte-white-primary-background--active: var(--slate-200);
    --kuat-button-byte-white-primary-background--focus: var(--brand-byte-white);
    --kuat-button-byte-white-primary-background--disabled: var(--slate-100);
    --kuat-button-byte-white-primary-foreground: var(--slate-950);
    --kuat-button-byte-white-primary-foreground--disabled: var(--slate-500);
    --kuat-button-byte-white-secondary-background: var(--slate-100);
    --kuat-button-byte-white-secondary-background--hover: var(--slate-200);
    --kuat-button-byte-white-secondary-background--active: var(--slate-300);
    --kuat-button-byte-white-secondary-background--focus: var(--slate-100);
    --kuat-button-byte-white-secondary-background--disabled: var(--slate-100);
    --kuat-button-byte-white-secondary-foreground: var(--slate-950);
    --kuat-button-byte-white-secondary-foreground--disabled: var(--slate-500);
    --kuat-button-byte-white-outline-background: transparent;
    --kuat-button-byte-white-outline-background--hover: var(--slate-100);
    --kuat-button-byte-white-outline-background--active: var(--slate-200);
    --kuat-button-byte-white-outline-background--focus: transparent;
    --kuat-button-byte-white-outline-background--disabled: transparent;
    --kuat-button-byte-white-outline-foreground: var(--slate-950);
    --kuat-button-byte-white-outline-foreground--disabled: var(--slate-500);
    --kuat-button-byte-white-outline-border: var(--slate-300);
    --kuat-button-byte-white-outline-border--hover: var(--slate-400);
    --kuat-button-byte-white-outline-border--focus: var(--slate-300);
    --kuat-button-byte-white-outline-border--disabled: var(--slate-200);
    --kuat-button-byte-white-ghost-background: transparent;
    --kuat-button-byte-white-ghost-background--hover: var(--slate-100);
    --kuat-button-byte-white-ghost-background--active: var(--slate-200);
    --kuat-button-byte-white-ghost-background--focus: transparent;
    --kuat-button-byte-white-ghost-background--disabled: transparent;
    --kuat-button-byte-white-ghost-foreground: var(--slate-950);
    --kuat-button-byte-white-ghost-foreground--disabled: var(--slate-500);
    --kuat-button-byte-white-ghost-muted-background: transparent;
    --kuat-button-byte-white-ghost-muted-background--hover: var(--slate-100);
    --kuat-button-byte-white-ghost-muted-background--active: var(--slate-200);
    --kuat-button-byte-white-ghost-muted-background--focus: transparent;
    --kuat-button-byte-white-ghost-muted-background--disabled: transparent;
    --kuat-button-byte-white-ghost-muted-foreground: var(--slate-700);
    --kuat-button-byte-white-ghost-muted-foreground--disabled: var(--slate-500);
    --kuat-button-byte-white-destructive-background: var(--red-600);
    --kuat-button-byte-white-destructive-background--hover: var(--red-600);
    --kuat-button-byte-white-destructive-background--active: var(--red-600);
    --kuat-button-byte-white-destructive-background--focus: var(--red-600);
    --kuat-button-byte-white-destructive-background--disabled: var(--slate-200);
    --kuat-button-byte-white-destructive-foreground: var(--brand-byte-white);
    --kuat-button-byte-white-destructive-foreground--disabled: var(--slate-500);

    /* --- the-cloud --- */
    --kuat-button-the-cloud-primary-background: var(--brand-the-cloud);
    --kuat-button-the-cloud-primary-background--hover: var(--slate-200);
    --kuat-button-the-cloud-primary-background--active: var(--slate-300);
    --kuat-button-the-cloud-primary-background--focus: var(--brand-the-cloud);
    --kuat-button-the-cloud-primary-background--disabled: var(--slate-100);
    --kuat-button-the-cloud-primary-foreground: var(--slate-950);
    --kuat-button-the-cloud-primary-foreground--disabled: var(--slate-500);
    --kuat-button-the-cloud-secondary-background: var(--slate-200);
    --kuat-button-the-cloud-secondary-background--hover: var(--slate-300);
    --kuat-button-the-cloud-secondary-background--active: var(--slate-400);
    --kuat-button-the-cloud-secondary-background--focus: var(--slate-200);
    --kuat-button-the-cloud-secondary-background--disabled: var(--slate-100);
    --kuat-button-the-cloud-secondary-foreground: var(--slate-950);
    --kuat-button-the-cloud-secondary-foreground--disabled: var(--slate-500);
    --kuat-button-the-cloud-outline-background: transparent;
    --kuat-button-the-cloud-outline-background--hover: var(--slate-100);
    --kuat-button-the-cloud-outline-background--active: var(--slate-200);
    --kuat-button-the-cloud-outline-background--focus: transparent;
    --kuat-button-the-cloud-outline-background--disabled: transparent;
    --kuat-button-the-cloud-outline-foreground: var(--slate-950);
    --kuat-button-the-cloud-outline-foreground--disabled: var(--slate-500);
    --kuat-button-the-cloud-outline-border: var(--slate-300);
    --kuat-button-the-cloud-outline-border--hover: var(--slate-400);
    --kuat-button-the-cloud-outline-border--focus: var(--slate-300);
    --kuat-button-the-cloud-outline-border--disabled: var(--slate-200);
    --kuat-button-the-cloud-ghost-background: transparent;
    --kuat-button-the-cloud-ghost-background--hover: var(--slate-100);
    --kuat-button-the-cloud-ghost-background--active: var(--slate-200);
    --kuat-button-the-cloud-ghost-background--focus: transparent;
    --kuat-button-the-cloud-ghost-background--disabled: transparent;
    --kuat-button-the-cloud-ghost-foreground: var(--slate-950);
    --kuat-button-the-cloud-ghost-foreground--disabled: var(--slate-500);
    --kuat-button-the-cloud-ghost-muted-background: transparent;
    --kuat-button-the-cloud-ghost-muted-background--hover: var(--slate-200);
    --kuat-button-the-cloud-ghost-muted-background--active: var(--slate-300);
    --kuat-button-the-cloud-ghost-muted-background--focus: transparent;
    --kuat-button-the-cloud-ghost-muted-background--disabled: transparent;
    --kuat-button-the-cloud-ghost-muted-foreground: var(--slate-700);
    --kuat-button-the-cloud-ghost-muted-foreground--disabled: var(--slate-500);
    --kuat-button-the-cloud-destructive-background: var(--red-600);
    --kuat-button-the-cloud-destructive-background--hover: var(--red-600);
    --kuat-button-the-cloud-destructive-background--active: var(--red-600);
    --kuat-button-the-cloud-destructive-background--focus: var(--red-600);
    --kuat-button-the-cloud-destructive-background--disabled: var(--slate-200);
    --kuat-button-the-cloud-destructive-foreground: var(--brand-byte-white);
    --kuat-button-the-cloud-destructive-foreground--disabled: var(--slate-500);

    /* --- dark-data --- */
    --kuat-button-dark-data-primary-background: var(--brand-dark-data);
    --kuat-button-dark-data-primary-background--hover: var(--slate-800);
    --kuat-button-dark-data-primary-background--active: var(--slate-900);
    --kuat-button-dark-data-primary-background--focus: var(--brand-dark-data);
    --kuat-button-dark-data-primary-background--disabled: var(--slate-700);
    --kuat-button-dark-data-primary-foreground: var(--brand-byte-white);
    --kuat-button-dark-data-primary-foreground--disabled: var(--slate-500);
    --kuat-button-dark-data-secondary-background: var(--slate-700);
    --kuat-button-dark-data-secondary-background--hover: var(--slate-600);
    --kuat-button-dark-data-secondary-background--active: var(--slate-500);
    --kuat-button-dark-data-secondary-background--focus: var(--slate-700);
    --kuat-button-dark-data-secondary-background--disabled: var(--slate-800);
    --kuat-button-dark-data-secondary-foreground: var(--slate-100);
    --kuat-button-dark-data-secondary-foreground--disabled: var(--slate-500);
    --kuat-button-dark-data-outline-background: transparent;
    --kuat-button-dark-data-outline-background--hover: var(--slate-800);
    --kuat-button-dark-data-outline-background--active: var(--slate-700);
    --kuat-button-dark-data-outline-background--focus: transparent;
    --kuat-button-dark-data-outline-background--disabled: transparent;
    --kuat-button-dark-data-outline-foreground: var(--brand-byte-white);
    --kuat-button-dark-data-outline-foreground--disabled: var(--slate-500);
    --kuat-button-dark-data-outline-border: var(--slate-600);
    --kuat-button-dark-data-outline-border--hover: var(--slate-500);
    --kuat-button-dark-data-outline-border--focus: var(--slate-600);
    --kuat-button-dark-data-outline-border--disabled: var(--slate-700);
    --kuat-button-dark-data-ghost-background: transparent;
    --kuat-button-dark-data-ghost-background--hover: var(--slate-800);
    --kuat-button-dark-data-ghost-background--active: var(--slate-700);
    --kuat-button-dark-data-ghost-background--focus: transparent;
    --kuat-button-dark-data-ghost-background--disabled: transparent;
    --kuat-button-dark-data-ghost-foreground: var(--brand-byte-white);
    --kuat-button-dark-data-ghost-foreground--disabled: var(--slate-500);
    --kuat-button-dark-data-ghost-muted-background: transparent;
    --kuat-button-dark-data-ghost-muted-background--hover: var(--slate-800);
    --kuat-button-dark-data-ghost-muted-background--active: var(--slate-700);
    --kuat-button-dark-data-ghost-muted-background--focus: transparent;
    --kuat-button-dark-data-ghost-muted-background--disabled: transparent;
    --kuat-button-dark-data-ghost-muted-foreground: var(--slate-300);
    --kuat-button-dark-data-ghost-muted-foreground--disabled: var(--slate-500);
    --kuat-button-dark-data-destructive-background: var(--red-600);
    --kuat-button-dark-data-destructive-background--hover: var(--red-600);
    --kuat-button-dark-data-destructive-background--active: var(--red-600);
    --kuat-button-dark-data-destructive-background--focus: var(--red-600);
    --kuat-button-dark-data-destructive-background--disabled: var(--slate-700);
    --kuat-button-dark-data-destructive-foreground: var(--brand-byte-white);
    --kuat-button-dark-data-destructive-foreground--disabled: var(--slate-500);

    /* --- transform-teal --- */
    --kuat-button-transform-teal-primary-background: var(--brand-transform-teal);
    --kuat-button-transform-teal-primary-background--hover: var(--transform-teal-600);
    --kuat-button-transform-teal-primary-background--active: var(--transform-teal-700);
    --kuat-button-transform-teal-primary-background--focus: var(--brand-transform-teal);
    --kuat-button-transform-teal-primary-background--disabled: var(--slate-200);
    --kuat-button-transform-teal-primary-foreground: var(--brand-byte-white);
    --kuat-button-transform-teal-primary-foreground--disabled: var(--slate-500);
    --kuat-button-transform-teal-secondary-background: var(--transform-teal-100);
    --kuat-button-transform-teal-secondary-background--hover: var(--transform-teal-200);
    --kuat-button-transform-teal-secondary-background--active: var(--transform-teal-300);
    --kuat-button-transform-teal-secondary-background--focus: var(--transform-teal-100);
    --kuat-button-transform-teal-secondary-background--disabled: var(--slate-100);
    --kuat-button-transform-teal-secondary-foreground: var(--brand-transform-teal);
    --kuat-button-transform-teal-secondary-foreground--disabled: var(--slate-500);
    --kuat-button-transform-teal-outline-background: transparent;
    --kuat-button-transform-teal-outline-background--hover: var(--transform-teal-50);
    --kuat-button-transform-teal-outline-background--active: var(--transform-teal-100);
    --kuat-button-transform-teal-outline-background--focus: transparent;
    --kuat-button-transform-teal-outline-background--disabled: transparent;
    --kuat-button-transform-teal-outline-foreground: var(--brand-transform-teal);
    --kuat-button-transform-teal-outline-foreground--disabled: var(--slate-500);
    --kuat-button-transform-teal-outline-border: var(--brand-transform-teal);
    --kuat-button-transform-teal-outline-border--hover: var(--transform-teal-600);
    --kuat-button-transform-teal-outline-border--focus: var(--brand-transform-teal);
    --kuat-button-transform-teal-outline-border--disabled: var(--slate-300);
    --kuat-button-transform-teal-ghost-background: transparent;
    --kuat-button-transform-teal-ghost-background--hover: var(--transform-teal-50);
    --kuat-button-transform-teal-ghost-background--active: var(--transform-teal-100);
    --kuat-button-transform-teal-ghost-background--focus: transparent;
    --kuat-button-transform-teal-ghost-background--disabled: transparent;
    --kuat-button-transform-teal-ghost-foreground: var(--brand-transform-teal);
    --kuat-button-transform-teal-ghost-foreground--disabled: var(--slate-500);
    --kuat-button-transform-teal-ghost-muted-background: transparent;
    --kuat-button-transform-teal-ghost-muted-background--hover: var(--slate-100);
    --kuat-button-transform-teal-ghost-muted-background--active: var(--slate-200);
    --kuat-button-transform-teal-ghost-muted-background--focus: transparent;
    --kuat-button-transform-teal-ghost-muted-background--disabled: transparent;
    --kuat-button-transform-teal-ghost-muted-foreground: var(--slate-700);
    --kuat-button-transform-teal-ghost-muted-foreground--disabled: var(--slate-500);
    --kuat-button-transform-teal-destructive-background: var(--red-600);
    --kuat-button-transform-teal-destructive-background--hover: var(--red-600);
    --kuat-button-transform-teal-destructive-background--active: var(--red-600);
    --kuat-button-transform-teal-destructive-background--focus: var(--red-600);
    --kuat-button-transform-teal-destructive-background--disabled: var(--slate-200);
    --kuat-button-transform-teal-destructive-foreground: var(--brand-byte-white);
    --kuat-button-transform-teal-destructive-foreground--disabled: var(--slate-500);

    /* --- equal-ember --- */
    --kuat-button-equal-ember-primary-background: var(--brand-equal-ember);
    --kuat-button-equal-ember-primary-background--hover: var(--equal-ember-600);
    --kuat-button-equal-ember-primary-background--active: var(--equal-ember-700);
    --kuat-button-equal-ember-primary-background--focus: var(--brand-equal-ember);
    --kuat-button-equal-ember-primary-background--disabled: var(--slate-200);
    --kuat-button-equal-ember-primary-foreground: var(--brand-byte-white);
    --kuat-button-equal-ember-primary-foreground--disabled: var(--slate-500);
    --kuat-button-equal-ember-secondary-background: var(--equal-ember-100);
    --kuat-button-equal-ember-secondary-background--hover: var(--equal-ember-200);
    --kuat-button-equal-ember-secondary-background--active: var(--equal-ember-300);
    --kuat-button-equal-ember-secondary-background--focus: var(--equal-ember-100);
    --kuat-button-equal-ember-secondary-background--disabled: var(--slate-100);
    --kuat-button-equal-ember-secondary-foreground: var(--brand-equal-ember);
    --kuat-button-equal-ember-secondary-foreground--disabled: var(--slate-500);
    --kuat-button-equal-ember-outline-background: transparent;
    --kuat-button-equal-ember-outline-background--hover: var(--equal-ember-50);
    --kuat-button-equal-ember-outline-background--active: var(--equal-ember-100);
    --kuat-button-equal-ember-outline-background--focus: transparent;
    --kuat-button-equal-ember-outline-background--disabled: transparent;
    --kuat-button-equal-ember-outline-foreground: var(--brand-equal-ember);
    --kuat-button-equal-ember-outline-foreground--disabled: var(--slate-500);
    --kuat-button-equal-ember-outline-border: var(--brand-equal-ember);
    --kuat-button-equal-ember-outline-border--hover: var(--equal-ember-600);
    --kuat-button-equal-ember-outline-border--focus: var(--brand-equal-ember);
    --kuat-button-equal-ember-outline-border--disabled: var(--slate-300);
    --kuat-button-equal-ember-ghost-background: transparent;
    --kuat-button-equal-ember-ghost-background--hover: var(--equal-ember-50);
    --kuat-button-equal-ember-ghost-background--active: var(--equal-ember-100);
    --kuat-button-equal-ember-ghost-background--focus: transparent;
    --kuat-button-equal-ember-ghost-background--disabled: transparent;
    --kuat-button-equal-ember-ghost-foreground: var(--brand-equal-ember);
    --kuat-button-equal-ember-ghost-foreground--disabled: var(--slate-500);
    --kuat-button-equal-ember-ghost-muted-background: transparent;
    --kuat-button-equal-ember-ghost-muted-background--hover: var(--slate-100);
    --kuat-button-equal-ember-ghost-muted-background--active: var(--slate-200);
    --kuat-button-equal-ember-ghost-muted-background--focus: transparent;
    --kuat-button-equal-ember-ghost-muted-background--disabled: transparent;
    --kuat-button-equal-ember-ghost-muted-foreground: var(--slate-700);
    --kuat-button-equal-ember-ghost-muted-foreground--disabled: var(--slate-500);
    --kuat-button-equal-ember-destructive-background: var(--red-600);
    --kuat-button-equal-ember-destructive-background--hover: var(--red-600);
    --kuat-button-equal-ember-destructive-background--active: var(--red-600);
    --kuat-button-equal-ember-destructive-background--focus: var(--red-600);
    --kuat-button-equal-ember-destructive-background--disabled: var(--slate-200);
    --kuat-button-equal-ember-destructive-foreground: var(--brand-byte-white);
    --kuat-button-equal-ember-destructive-foreground--disabled: var(--slate-500);
  }
}
