@layer base {
  :root {
    --background: oklch(0.9840 0.0030 247.8580);
    --foreground: oklch(0.2080 0.0420 265.7550);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.2080 0.0420 265.7550);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1290 0.0420 264.6950);
    --primary: oklch(0.6370 0.1367 238.4174);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.6322 0.0989 196.6836);
    --secondary-foreground: oklch(0.9635 0.0137 196.9284);
    --muted: oklch(0.9840 0.0030 247.8580);
    --muted-foreground: oklch(0.7040 0.0400 256.7880);
    --accent: oklch(0.9611 0.0185 227.2763);
    --accent-foreground: oklch(0.2080 0.0420 265.7550);
    --destructive: oklch(0.6370 0.2370 25.3310);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8690 0.0220 252.8940);
    --input: oklch(0.8690 0.0220 252.8940);
    --ring: oklch(0.6914 0.1360 234.5007);
    --chart-1: oklch(0.6670 0.2950 322.1500);
    --chart-2: oklch(0.5910 0.2930 322.8960);
    --chart-3: oklch(0.5180 0.2530 323.9490);
    --chart-4: oklch(0.4520 0.2110 324.5910);
    --chart-5: oklch(0.4010 0.1700 325.6120);
    --sidebar: oklch(0.4367 0.0835 243.6432);
    --sidebar-foreground: oklch(1.0000 0 0);
    --sidebar-primary: oklch(0.6370 0.1367 238.4174);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.8867 0.0566 226.9680);
    --sidebar-accent-foreground: oklch(0.3572 0.0786 243.2109);
    --sidebar-border: oklch(0.7418 0.0448 238.7413);
    --sidebar-ring: oklch(0.9611 0.0185 227.2763);
    --font-sans: Lexend, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Lora, serif;
    --font-mono: Fragment Mono, ui-monospace, monospace;
    --radius: 0.3rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 8px;
    --shadow-spread: -1px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0.208 0.042 265.755);
    --shadow-2xs: 0px 4px 8px -1px hsl(222.3362 49.3900% 11.2990% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(222.3362 49.3900% 11.2990% / 0.05);
    --shadow-sm: 0px 4px 8px -1px hsl(222.3362 49.3900% 11.2990% / 0.10), 0px 1px 2px -2px hsl(222.3362 49.3900% 11.2990% / 0.10);
    --shadow: 0px 4px 8px -1px hsl(222.3362 49.3900% 11.2990% / 0.10), 0px 1px 2px -2px hsl(222.3362 49.3900% 11.2990% / 0.10);
    --shadow-md: 0px 4px 8px -1px hsl(222.3362 49.3900% 11.2990% / 0.10), 0px 2px 4px -2px hsl(222.3362 49.3900% 11.2990% / 0.10);
    --shadow-lg: 0px 4px 8px -1px hsl(222.3362 49.3900% 11.2990% / 0.10), 0px 4px 6px -2px hsl(222.3362 49.3900% 11.2990% / 0.10);
    --shadow-xl: 0px 4px 8px -1px hsl(222.3362 49.3900% 11.2990% / 0.10), 0px 8px 10px -2px hsl(222.3362 49.3900% 11.2990% / 0.10);
    --shadow-2xl: 0px 4px 8px -1px hsl(222.3362 49.3900% 11.2990% / 0.25);
    --tracking-normal: 0.01em;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: oklch(0.1760 0.0327 244.4916);
    --foreground: oklch(0.8717 0.0093 258.3382);
    --card: oklch(0.2535 0.0563 248.1011);
    --card-foreground: oklch(0.8717 0.0093 258.3382);
    --popover: oklch(0.2795 0.0368 260.0310);
    --popover-foreground: oklch(0.8717 0.0093 258.3382);
    --primary: oklch(0.5461 0.1188 239.7593);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.5385 0.0832 196.0421);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.2463 0.0275 259.9628);
    --muted-foreground: oklch(0.5510 0.0234 264.3637);
    --accent: oklch(0.3572 0.0786 243.2109);
    --accent-foreground: oklch(0.9611 0.0185 227.2763);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.2077 0.0398 265.7549);
    --border: oklch(0.4461 0.0263 256.8018);
    --input: oklch(0.4461 0.0263 256.8018);
    --ring: oklch(0.7729 0.1535 163.2231);
    --chart-1: oklch(0.7729 0.1535 163.2231);
    --chart-2: oklch(0.7845 0.1325 181.9120);
    --chart-3: oklch(0.7227 0.1920 149.5793);
    --chart-4: oklch(0.6959 0.1491 162.4796);
    --chart-5: oklch(0.5960 0.1274 163.2254);
    --sidebar: oklch(0.2795 0.0368 260.0310);
    --sidebar-foreground: oklch(0.8717 0.0093 258.3382);
    --sidebar-primary: oklch(0.7729 0.1535 163.2231);
    --sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
    --sidebar-accent: oklch(0.3729 0.0306 259.7328);
    --sidebar-accent-foreground: oklch(0.7118 0.0129 286.0665);
    --sidebar-border: oklch(0.4461 0.0263 256.8018);
    --sidebar-ring: oklch(0.7729 0.1535 163.2231);
    --font-sans: Lexend, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Lora, serif;
    --font-mono: Fragment Mono, ui-monospace, monospace;
    --radius: 0.3rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 8px;
    --shadow-spread: -1px;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
    --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }
  
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
  
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

